
<!DOCTYPE html>
<html>

<head>
 <meta charset="UTF-8">
 <title>Indicies</title>
</head>

<body>
  <div style="font-size: 100%; position: absolute; top: 0px; left: 475px">
  <H1>Indicies</H1>
  </div>

  <div style="position: absolute; top: 80px; left: 350px">
<form method ="POST">
    List <input type="text" name="List">
    Number <input type="text" name="Number"><Br>
    <input type="submit">
    </form>
  </div>
  {% if results!=[] %}
  <div style="position: absolute; top: 120px; left: 10px">
      <b>Indices are:  </b>{{results}}
  </div>
  {% endif %}
</body>>
</html>>