<!DOCTYPE html>
<html>

 <head>
  <meta charset="UTF-8">
  <title>ВЫЧ ПРАКТИКА</title>
   <style>
      body { background: url({{ url_for('static', filename='back.jpg') }}); }
      H1 { font-family: Helvetica;
   </style>

 </head>

 <body>
 <div style="font-size: 103%; position: absolute; top: 0px; left: 475px">
  <H1>Resource booking</H1>
 </div>
 <div style="position: absolute; top: 80px; left: 475px">
    <form action="/add_result" method="post">
        <input type="date" name="StartDateTime" id="StartDateTime" value="" min="2000-01-01" autofocus>
        <input type="date" name="EndDateTime" id="EndDateTime" value="" min="2000-01-01">
        <button type="submit"> Send </button>
    </form>
 </div>
  {% if results!=[] %}
  <div style="position: absolute; top: 120px; left: 10px">
      <b>Result for a given interval: </b>{{results}}
  </div>
  {% endif %}
 <div style="position: absolute; top: 83px; left: 370px">
     <a href="{{ url_for('table') }}">Table for 2020</a>
 </div>

 </body>
</html>
